<%- include('partials/header') %>
    <div class="container log mt-5">
        <h1>Register</h1>

        <div class="row">
            <div class="oauth col-sm-8">
                <div class="card">
                    <div class="card-body">

                        <form action="/register" method="POST">
                            <div class="form-group">
                                <!-- <label for="email">Email</label> -->
                                <input type="email" placeholder="Email" autocomplete="off" class="form-control field" name="username">
                                <i class="fas fa-envelope errspan"></i>
                            </div>
                            <div class="form-group">
                                <!-- <label for="password">Password</label> -->
                                <input type="password" placeholder="Password" autocomplete="off" class="form-control field" name="password">
                                <i class="fas fa-key errspan"></i>
                            </div>
                            <button type="submit" class="btn btn-dark button">Register</button>
                        </form>

                    </div>
                </div>
            </div>

            <div class="oauth col-sm-8 col-md-8 col-lg-8">
                <div class="card social-block">
                    <div class="card-body">
                        <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
                            <i class="fab fa-google"></i> Sign Up with Google
                        </a>
                    </div>
                    <div class="card-body">
                        <a class="btn btn-block btn-social btn-github" href="/auth/github" role="button">
                            <i class="fab fa-github"></i> Sign Up with Github
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <%- include('partials/header') %>