body {
    background: #8e9eab;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.jumbotron {
    background-color: transparent;
}

.secret-text {
    text-align: center;
    align-items: center;
    font-size: 2rem;
    color: #fff;
    background-color: #111;
    border-radius: 5px;
    padding-bottom: 2px;
    opacity: 0.5;
    font-weight: 100;
}

.submit-page {
    padding-top: 64px;
}


/* .container.mt-5 {
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    width: 60%;
    max-width: 450px;
    text-align: center;
    position: relative;
    padding: 10px 5px;
    box-shadow: 0 30px 60px 0;
} */

.lead {
    font-size: 1.75rem;
}

.card {
    background-color: transparent;
    box-shadow: 10px 10px 7px -1px rgba(0, 0, 0, 0.41);
    -webkit-box-shadow: 10px 10px 7px -1px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 10px 10px 7px -1px rgba(0, 0, 0, 0.41);
}

.oauth {
    margin-top: 1rem;
}

.errspan {
    float: left;
    margin-left: 10px;
    margin-top: -26px;
    position: relative;
    z-index: 2;
}

.eyespan {
    float: right;
    margin-right: 15px;
    margin-top: -26px;
    position: relative;
    z-index: 2;
    color: #999;
    cursor: pointer;
}

.field {
    padding-left: 2rem;
}

.button {
    width: 100%;
}

.home-button {
    width: 20%;
}

.sign {
    margin-top: 1.2rem;
    text-align: center;
    font-weight: inherit;
}

.log {
    padding-top: 5rem;
}

.back-home {
    font-size: 2rem;
    color: #333;
    position: relative;
    left: 5rem;
    top: 2.5rem;
}

.back-home:hover {
    color: #777;
}

.submit-button {
    /* margin-top: 1.5rem; */
    width: 49.7%;
}

.your-secret {
    margin-top: 4rem;
}

.your-secret-1 {
    margin: 1rem;
}

@media(max-width: 540px) {
    .home-button,
    .submit-button,
    .button {
        width: auto;
    }
}

@media(max-width: 640px) {
    .back-home {
        position: relative;
        left: 1rem;
        top: 1rem;
    }
}